#section1 {
    background: url("../assets/bg-landing1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#section2 {
    background-color: #0effcf;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
#subscriptions {
    background-color: #006961;
    background-repeat: no-repeat;
    background-size: cover;
}
#section4 {
    background-color: #0e9bff;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Bebas Neue", cursive;
}

#title {
    font-size: 200px;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

#animacion {
    min-width: 400px;
}

@media only screen and (max-width: 500px) {
    #animacion {
        display: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-img-top {
    width: 50%;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}