#section1 {
    background: url('../assets/bg-landing.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

#animacion {
    min-width: 400px;
}

@media only screen and (max-width: 500px) {
    #animacion {
      display: none;
    }
  }