.register-form {
    background-image: url(https://images.pexels.com/photos/999256/pexels-photo-999256.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1920);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-container {
    background-position: center;
    max-width: 475px;
    height: 575px;
    background-color: #3b4652;
    opacity: 0.85;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #848484;
}

.form {
    width: 400px;
    margin-top: 0%;
    background: rgba(10, 62, 206, 0.4);
}
